{% extends "::base.html.twig" %}

{% block title %}Dodawanie produktu{% endblock %}

{% block body %}
    
    <h1>Dodawanie produktu</h1>
        
    {{ form_start(form) }}
    
    {{ form_end(form) }}
    
{% endblock %}