{% extends 'base.html.twig' %}

{% block title %}Produkty{% endblock %}

{% block body %}
    <h1>Lista produktów</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>id</th>
            <th>nazwa</th>
            <th>cena</th>
            <th>opis</th>
        </tr>
        </thead>
        <tbody>

            {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.desc }}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
{% endblock %}